@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src: local("Segoe UI");
}

:root {
    --clr-primary: #cf4500;
    --clr-active: #cb4700;
    --clr-background: rgba(11, 11, 11, 0.898);
}

html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    font-family: "Segoe UI";
    background-color: #ffa507;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 10px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #929292;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

#desktop {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #4e4e4e;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.window {
    position: absolute;
    border: 3px solid #000000;
    color: white;
    background: var(--clr-background);
    border-radius: 5px;
    z-index: 1000;
}

.window.closed {
    display: none;
}

.window.minimizedWindow {
    display: none;
}

.window.fullSizeWindow {
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    border-radius: 0;
    bottom: 32px !important;
}

.fullSizeWindow .ui-resizable-handle {
    display: none;
}

.windowHeader {
    background-color: var(--clr-primary);
    text-align: right;
    border-bottom: 2px solid #000000;
    padding: 2px;
    cursor: move;
    height: 28px;
}

.activeWindow .windowHeader {
    background-color: var(--clr-active);
}

.windowHeader>span {
    display: inline-block;
    cursor: pointer;
    border: 2px solid #000;
    margin-left: 4px;
    font-size: 19px;
    padding: 2px 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    border-radius: 5px;
    line-height: 20px;
    width: 12px;
    height: 20px;
    position: relative;
    overflow: hidden;
}

.windowHeader>span:hover {
    background: rgba(255, 255, 255, 0.3);
}

.windowHeader>span.winclose:hover {
    background: #f21212;
}

.windowHeader>span>span {
    display: inline-block;
    height: 8px;
    width: 10px;
    position: absolute;
    top: 6px;
    left: 10px;
}

.winminimize>span {
    border-bottom: 3px solid #000;
}

.winmaximize>span {
    border: 2px solid #000;
    border-top: 3px solid #000;
}

.winmaximize>span:nth-child(2) {
    display: none;
}

.fullSizeWindow .winmaximize>span:nth-child(1) {
    margin: 2px 0 0 -4px;
}

.fullSizeWindow .winmaximize>span:nth-child(2) {
    display: inline-block;
    top: 3px;
    left: 12px;
}

.wincontent {
    padding: 10px;
    min-width: 450px;
    border: 2px solid #000;
    margin: 2px;
    border-radius: 0 0 5px 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.windowHeader>strong {
    float: left;
    margin: 0px 3px 0 10px;
    line-height: 29px;
    font-size: 17px;
}

.taskbarPanel {
    display: inline-block;
    border: 2px solid #2e2a2aaa;
    border-radius: 5px;
    line-height: 24px;
    margin: 2px 0 0 10px;
    font-size: 17px;
    padding: 0 10px;
    background: #9d887075;
    font-weight: bold;
    cursor: pointer;
}

.taskbarPanel.activeTab {
    background: #463e5254;
}

.taskbarPanel.minimizedTab {
    background: #aaa;
}

.taskbarPanel.minimizedTab:hover {
    background: #3c11ea;
}

.taskbarPanel.closed {
    display: none;
}

#taskbar {
    position: absolute;
    height: 32px;
    border-top: 2px solid #bcbcbc;
    bottom: 0;
    left: 0;
    right: 0;
    background: #6e6e6e;
}

#icons {
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 20px;
}

#templateLink {
    position: absolute;
    display: inline-block;
    bottom: 10px;
    right: 20px;
    font-weight: bold;
    font-size: 15px;
    color: #000000;
}

/*Demo styles BEGIN*/
#window0 {
    top: 20px;
    left: 240px;
}

#window1 {
    top: 400px;
    left: 120px;
}

#window2 {
    top: 250px;
    left: 300px;
}

#window3 {
    top: 125px;
    left: 420px;
}

#window0 .wincontent {
    width: 660px;
    height: 400px;
}

#window1 .wincontent {
    width: 500px;
    height: 300px;
}

#window2 .wincontent {
    width: 400px;
    height: 350px;
}

#window3 .wincontent {
    width: 400px;
    height: 350px;
}

#window4 .wincontent {
    width: 50vw;
    height: 50vh;
    overflow: hidden;
}

#window5 .wincontent {
    width: 50vw;
    height: 50vh;
    overflow: hidden;
}

@media screen and (max-width: 960px) {
    #window0 {
        left: 10px;
    }

    #window3 {
        left: 50px;
    }
}

@media screen and (max-width: 770px) {
    #window0 .wincontent {
        width: 460px;
    }

    #window2 {
        left: 100px;
    }

    #window1 {
        top: 190px;
        left: -5px;
    }
}

@media screen and (max-width: 540px) {
    #window0 .wincontent {
        width: 230px;
        height: 200px;
    }

    #window3 .wincontent {
        width: 275px;
        height: auto;
    }

    #window3 {
        top: 9px;
        left: 10px;
    }

    #window2 {
        left: -118px;
    }

    #window1 .wincontent {
        width: auto;
        height: 300px;
    }
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 10px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #929292;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

#desktop {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:
        linear-gradient(to left, rgba(0, 0, 0, 0) 0%, black),
        url('mainlogo.png') no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.window.closed {
    display: none;
}

.window.minimizedWindow {
    display: none;
}

.window.fullSizeWindow {
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    border-radius: 0;
    bottom: 32px !important;
}

.fullSizeWindow .ui-resizable-handle {
    display: none;
}

.windowHeader {
    background-color: var(--clr-primary);
    text-align: right;
    border-bottom: 2px solid #000000;
    padding: 2px;
    cursor: move;
    height: 28px;
}

.windowHeader>span {
    display: inline-block;
    cursor: pointer;
    border: 2px solid #000;
    margin-left: 4px;
    font-size: 19px;
    padding: 2px 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    border-radius: 5px;
    line-height: 20px;
    width: 12px;
    height: 20px;
    position: relative;
    overflow: hidden;
}

.windowHeader>span:hover {
    background: rgba(255, 255, 255, 0.3);
}

.windowHeader>span.winclose:hover {
    background: #f15454;
}

.windowHeader>span>span {
    display: inline-block;
    height: 8px;
    width: 10px;
    position: absolute;
    top: 6px;
    left: 10px;
}

.winminimize>span {
    border-bottom: 3px solid #000;
}

.winmaximize>span {
    border: 2px solid #000;
    border-top: 3px solid #000;
}

.winmaximize>span:nth-child(2) {
    display: none;
}

.fullSizeWindow .winmaximize>span:nth-child(1) {
    margin: 2px 0 0 -4px;
}

.fullSizeWindow .winmaximize>span:nth-child(2) {
    display: inline-block;
    top: 3px;
    left: 12px;
}

.wincontent {
    padding: 10px;
    min-width: 200px;
    min-height: 200px;
    border: 2px solid #000;
    margin: 2px;
    border-radius: 0 0 5px 5px;
}

.windowHeader>strong {
    float: left;
    margin: 0px 3px 0 10px;
    line-height: 29px;
    font-size: 17px;
}

.taskbarPanel {
    display: inline-block;
    border: 2px solid #2e2a2aaa;
    border-radius: 5px;
    line-height: 24px;
    margin: 2px 0 0 10px;
    font-size: 17px;
    padding: 0 10px;
    background: var(--clr-primary);
    font-weight: bold;
    cursor: pointer;
}

.taskbarPanel.activeTab {
    background: var(--clr-active);
}

.taskbarPanel.minimizedTab {
    background: var(--clr-active);
}

.taskbarPanel.minimizedTab:hover {
    background: var(--clr-primary);
}

.taskbarPanel.closed {
    display: none;
}

#taskbar {
    position: absolute;
    height: 32px;
    border-top: 2px solid #bcbcbc;
    bottom: 0;
    left: 0;
    right: 0;
    background: #6e6e6e;
}

#icons a {
    cursor: pointer;
    padding: 2px 10px;
}

#icons a:hover {
    background: #515151ae;
    color: #414141;
}

#templateLink {
    position: absolute;
    display: inline-block;
    bottom: 10px;
    right: 20px;
    font-weight: bold;
    font-size: 15px;
    color: #000000;
}

/* CONTACT */

.contact-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    align-items: center;
    gap: 1em;
}

.text-area {
    resize: none;
    height: 40%;
}

.form-input {
    width: 90%;
    background-color: var(--clr-primary);
    border: none;
    color: black;
    font-size: 1.25em;
    padding: 0.25em 1em;
}

.contact-submit-btn {
    background-color: var(--clr-active);
    border: none;
    width: fit-content;
    padding: 0.5em 1em;
    border-radius: 0.5em;
}

.contact-submit-btn:hover {
    cursor: pointer;
    background-color: var(--clr-primary);
}

/*Demo styles BEGIN*/
#window0 {
    top: 20px;
    left: 240px;
}

#window1 {
    top: 400px;
    left: 120px;
}

#window2 {
    top: 250px;
    left: 300px;
}

#window3 {
    top: 125px;
    left: 420px;
}

#window0 .wincontent {
    width: 660px;
    height: 400px;
}

#window1 .wincontent {
    width: 500px;
    height: 300px;
}

#window2 .wincontent {
    width: 400px;
    height: 350px;
}

#window3 .wincontent {
    width: 400px;
    height: 350px;
}

@media screen and (max-width: 960px) {
    #window0 {
        left: 10px;
    }

    #window3 {
        left: 50px;
    }
}

@media screen and (max-width: 770px) {
    #window0 .wincontent {
        width: 460px;
    }

    #window2 {
        left: 100px;
    }

    #window1 {
        top: 190px;
        left: -5px;
    }
}

@media screen and (max-width: 540px) {
    #window0 .wincontent {
        width: 230px;
        height: 200px;
    }

    #window3 .wincontent {
        width: 275px;
        height: auto;
    }

    #window3 {
        top: 9px;
        left: 10px;
    }

    #window2 {
        left: -118px;
    }

    #window1 .wincontent {
        width: auto;
        height: 300px;
    }
}

img,
picture {
    max-width: 100%;
    display: block;
}

a {
    color: inherit;
}

.desktop-icon {
    width: 55px;
    margin-top: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.icon-title {
    padding-top: 0.5rem;
    color: #eee;
}

.loader {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.644);
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    align-items: center;
}

/* Loader */

@keyframes cursor {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: rgb(255, 255, 255);
    }
}

@keyframes typing {
    from {
        width: 100%;
    }

    90%,
    to {
        width: 0;
    }
}

@keyframes slide {
    33.3333333333% {
        font-size: 3rem;
        letter-spacing: 3px;
    }

    to {
        font-size: 0;
        letter-spacing: 0;
    }
}

.typing-slider {
    font-family: Consolas, monospace;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.typing-slider p {
    position: relative;
    display: inline;
    font-size: 0;
    text-transform: uppercase;
    letter-spacing: 0;
    animation: slide 15s step-start infinite;
}

.typing-slider p::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 3px solid black;
    background-color: #585858;
    animation: typing 5s infinite, cursor 1s infinite;
}

.typing-slider p:nth-child(1) {
    animation-delay: 0s;
}

.typing-slider p:nth-child(1)::after {
    animation-delay: 0s;
    animation-timing-function: steps(16), step-end;
}

.typing-slider p:nth-child(2) {
    animation-delay: 5s;
}

.typing-slider p:nth-child(2)::after {
    animation-delay: 5s;
    animation-timing-function: steps(23), step-end;
}

.typing-slider p:nth-child(3) {
    animation-delay: 10s;
}

.typing-slider p:nth-child(3)::after {
    animation-delay: 10s;
    animation-timing-function: steps(12), step-end;
}

.loaderpassword {
    background-color: #585858;
}

.psychoeye {
    height: 75px;
    margin-inline: auto;
}

.safetyimages {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 1em;
}

.luffarn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.redditborder {
    text-align: center;
}

.divider-line {
    width: 100%;
    border-bottom: 2px solid rgb(79, 79, 79);
    margin-block: 1em;
}

.contactinfo {
    text-align: center;
}

.smalltextinfo {
    font-size: 0.8rem;
    font-weight: bold;
    font-style: italic;
}

.psychoeye-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.invitetext {
    text-align: center;
    margin-block: 1em;
    font-size: large;
}

.window-container {
    max-width: 800px;
}

.logo {
    margin-inline: auto;
}

.iframe {
    width: 100%;
    height: 100%;
    /* min-width: 50vw;
    min-height: 50vh; */
}

.safteytor {
    margin-inline: auto;
    width: 50px;
}